html, body {
<<<<<<< HEAD
  height: 100%;
  width: 100%;
  scroll-behavior: auto !important;
  background-color: black; /* Wanted to add style with the black background */
}

header{
  contain: content;
  padding: 0% .5%; /* Couldn't get the placement exactly where I wanted so I used the padding element*/
  background: grey;
}

header a{
  color: rgb(10, 161, 10);
}

a{
  color: white;
}

h1{ 
  text-align: center; /* h1 style options */
  font-family: 'Permanent Marker', cursive;}

p{
  color: antiquewhite; /* color white to stand out against the black background */
  contain: content;
  text-align: center; /* to keep the text centered*/
  font-size:18px;
  line-height: 150%;
  padding: 0% 15%;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 5px;
}


h2{
  text-align: center; /* to keep the text centered*/
  padding: .5% 25% .5%;
  background-color: rgb(163, 163, 163);
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px;
}

h2 img{
  margin: 0% ;
}

h3{
  color: white;
  text-align:center;/* to keep the text centered*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0% 25%;
}

h3 a{
  color: rgb(10, 161, 10);
}

ol{
  color: antiquewhite;
  font-size:15px; /* the font looked small when I pulled it up on mobile and on a desktop so I made the font bigger*/
  font-family: 'Permanent Marker', cursive;
  float: center;
  padding: 0% 10%;
  line-height: 150%; /* to give spacing*/
  letter-spacing: 2px;
}

ul{
  text-align: center;
  color: auto;
  list-style: none;
  text-decoration: none;
  line-height: 300%;/* to give spacing*/
}

ul li{
  border: .4rem solid black;
  border-radius: .5rem;
  display: inline-block;
  border-spacing: 20px;
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-decoration: none;
  list-style: none;
  background: rgba(0,0,0,0.4);
  padding-right: 35px;
  padding-left: 35px;
}

li a:hover {  /* My pseuedo class to pass per the instructions*/
  color: white;
}

img{
  margin: 0% 0%;
}

footer{
  padding:15px;
  background: grey;
  text-align: center;
}
