html, body {
    height: 100%;
    width: 100%;
  }
  
  header{
    contain: content;
    padding: 0% 25%;
    background: grey;
  }

  h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  p{
    contain: content;
    text-align: center;
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0% 15%;
  }
  
  h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0% 25%;
    background-color: rgb(163, 163, 163);
  }
  
  h3{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0% 25%;
  }

  ol{
    text-align: center;
    padding: 0% 25%;
  }
  
  img{
    vertical-align: auto;
    margin: 0% 0%;
  }

  footer{
    padding:15px;
    background: grey;
    text-align: center;
  }